#opbutton{
    -fx-background-image: url(graph/oproznij.png);
}
#katOneButton{
    -fx-background-image: url(graph/czesci.png);
}
#katSecButton{
    -fx-background-image: url(graph/myszkiiklawiatury.png);
}
#katThreeButton{
    -fx-background-image: url(graph/sluchawski.png);
}
#envelopeButton{
    -fx-background-image: url(graph/koperta.png);
}
#invoiceButton{
    -fx-background-image: url(graph/faktura.png);
}